In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
from pathlib import Path
%load_ext sql

There's a new jupysql version available (0.10.7), you're running 0.10.3. To upgrade: pip install jupysql --upgrade

# SQL

In [51]:
# These lines specify the location of our database file
dbfile = 'cdeschools.sqlite'
tmpdb = Path('data') / dbfile

# Specify the database connection path (in this case, a sqlite database in a file)
sqlite_conn = 'sqlite:///' + str(tmpdb)

In [52]:
# Run this cell to connect to database
engine = sqlalchemy.create_engine(sqlite_conn)
connection = engine.connect()

In [53]:
%sql engine

In [54]:
%%sql
-- just run this cell --
SELECT * FROM sqlite_master WHERE type='table';

Running query in 'sqlite:///data/cdeschools.sqlite'

+-------+-----------+-----------+----------+--------------------------+
|  type |    name   |  tbl_name | rootpage |           sql            |
+-------+-----------+-----------+----------+--------------------------+
| table |  schools  |  schools  |    2     |  CREATE TABLE schools (  |
|       |           |           |          |             	"CDSCode" VARCHAR(14) NOT NULL,               |
|       |           |           |          |             	"NCESDist" VARCHAR(7),               |
|       |           |           |          |             	"NCESSchool" VARCHAR(5),               |
|       |           |           |          |             	"StatusType" VARCHAR(7) NOT NULL,               |
|       |           |           |          |             	"County" VARCHAR(15) NOT NULL,               |
|       |           |           |          |             	"District" VARCHAR(74) NOT NULL,               |
|       |           |           |          |             	"School" VARCHAR(89),               |
|       |           |           |          |             	"Street" VARCHAR(62),               |
|       |           |           |          |             	"StreetAbr" VARCHAR(59),               |
|       |           |           |          |             	"City" VARCHAR(25),               |
|       |           |           |          |             	"Zip" VARCHAR(10),               |
|       |           |           |          |             	"State" VARCHAR(4),               |
|       |           |           |          |             	"MailStreet" VARCHAR(70),               |
|       |           |           |          |             	"MailStrAbr" VARCHAR(70),               |
|       |           |           |          |             	"MailCity" VARCHAR(22),               |
|       |           |           |          |             	"MailZip" VARCHAR(10),               |
|       |           |           |          |             	"MailState" VARCHAR(4),               |
|       |           |           |          |             	"Phone" VARCHAR(14),               |
|       |           |           |          |             	"Ext" VARCHAR(6),               |
|       |           |           |          |             	"Website" VARCHAR(96),               |
|       |           |           |          |             	"OpenDate" DATE,               |
|       |           |           |          |             	"ClosedDate" DATE,               |
|       |           |           |          |             	"Charter" BOOLEAN,               |
|       |           |           |          |             	"CharterNum" VARCHAR(4),               |
|       |           |           |          |             	"FundingType" VARCHAR(23),               |
|       |           |           |          |             	"DOC" VARCHAR(2) NOT NULL,               |
|       |           |           |          |             	"DOCType" VARCHAR(42) NOT NULL,               |
|       |           |           |          |             	"SOC" VARCHAR(4),               |
|       |           |           |          |             	"SOCType" VARCHAR(41),               |
|       |           |           |          |             	"EdOpsCode" VARCHAR(7),               |
|       |           |           |          |             	"EdOpsName" VARCHAR(43),               |
|       |           |           |          |             	"EILCode" VARCHAR(8),               |
|       |           |           |          |             	"EILName" VARCHAR(31),               |
|       |           |           |          |             	"GSoffered" VARCHAR(16),               |
|       |           |           |          |             	"GSserved" VARCHAR(5),               |
|       |           |           |          |             	"Virtual" VARCHAR(4),               |
|       |           |           |          |             	"Magnet" BOOLEAN,               |
|       |           |           |          |             	"Latitude" FLOAT,               |
|       |           |           |          |             	"Longitude" FLOAT,               |
|       |           |           |          |             	"AdmFName1" VARCHAR(17),               |
|       |           |           |          |             	"AdmLName1" VARCHAR(22),               |
|       |           |           |          |             	"AdmEmail1" VARCHAR(49),               |
|       |           |           |          |             	"AdmFName2" VARCHAR(15),               |
|       |           |           |          |             	"AdmLName2" VARCHAR(18),               |
|       |           |           |          |             	"AdmEmail2" VARCHAR(40),               |
|       |           |           |          |             	"AdmFName3" VARCHAR(8),               |
|       |           |           |          |             	"AdmLName3" VARCHAR(15),               |
|       |           |           |          |             	"AdmEmail3" VARCHAR(39),               |
|       |           |           |          |             	"LastUpdate" DATE NOT NULL,               |
|       |           |           |          |             	CHECK ("Charter" IN (0, 1)),               |
|       |           |           |          |             	CHECK ("Magnet" IN (0, 1))              |
|       |           |           |          |            )             |
| table |    frpm   |    frpm   |   9041   |   CREATE TABLE frpm (    |
|       |           |           |          |             	"Academic Year" VARCHAR(9),               |
|       |           |           |          |             	"County Code" VARCHAR(4),               |
|       |           |           |          |             	"District Code" INTEGER,               |
|       |           |           |          |             	"School Code" VARCHAR(7),               |
|       |           |           |          |             	"County Name" VARCHAR(15),               |
|       |           |           |          |             	"District Name" VARCHAR(75),               |
|       |           |           |          |             	"School Name" VARCHAR(85),               |
|       |           |           |          |             	"District Type" VARCHAR(32),               |
|       |           |           |          |             	"School Type" VARCHAR(41),               |
|       |           |           |          |             	"Educational Option Type" VARCHAR(43),               |
|       |           |           |          |             	"NSLP Provision Status" VARCHAR(24),               |
|       |           |           |          |             	"Charter School (Y/N)" BOOLEAN,               |
|       |           |           |          |             	"Charter School Number" VARCHAR(4),               |
|       |           |           |          |             	"Charter Funding Type" VARCHAR(23),               |
|       |           |           |          |             	"IRC" BOOLEAN,               |
|       |           |           |          |             	"Low Grade" VARCHAR(5),               |
|       |           |           |          |             	"High Grade" VARCHAR(14),               |
|       |           |           |          |             	"Enrollment (K-12)" FLOAT,               |
|       |           |           |          |             	"Free Meal Count (K-12)" FLOAT,               |
|       |           |           |          |             	"Percent (%) Eligible Free (K-12)" FLOAT,               |
|       |           |           |          |             	"FRPM Count (K-12)" FLOAT,               |
|       |           |           |          |             	"Percent (%) Eligible FRPM (K-12)" FLOAT,               |
|       |           |           |          |             	"Enrollment (Ages 5-17)" FLOAT,               |
|       |           |           |          |             	"Free Meal Count (Ages 5-17)" FLOAT,               |
|       |           |           |          |             	"Percent (%) Eligible Free (Ages 5-17)" FLOAT,               |
|       |           |           |          |             	"FRPM Count (Ages 5-17)" FLOAT,               |
|       |           |           |          |             	"Percent (%) Eligible FRPM (Ages 5-17)" FLOAT,               |
|       |           |           |          |             	"2013-14 CALPADS Fall 1 Certification Status" BOOLEAN,               |
|       |           |           |          |             	CHECK ("Charter School (Y/N)" IN (0, 1)),               |
|       |           |           |          |             	CHECK ("IRC" IN (0, 1)),               |
|       |           |           |          |             	CHECK ("2013-14 CALPADS Fall 1 Certification Status" IN (0, 1))              |
|       |           |           |          |            )             |
| table | satscores | satscores |   8814   | CREATE TABLE satscores ( |
|       |           |           |          |             	cds VARCHAR(14) NOT NULL,               |
|       |           |           |          |             	rtype VARCHAR(1) NOT NULL,               |
|       |           |           |          |             	sname VARCHAR(50),               |
|       |           |           |          |             	dname VARCHAR(50),               |
|       |           |           |          |             	cname VARCHAR(15),               |
|       |           |           |          |             	enroll12 INTEGER NOT NULL,               |
|       |           |           |          |             	"NumTstTakr" INTEGER NOT NULL,               |
|       |           |           |          |             	"AvgScrRead" INTEGER,               |
|       |           |           |          |             	"AvgScrMath" INTEGER,               |
|       |           |           |          |             	"AvgScrWrite" INTEGER,               |
|       |           |           |          |             	"NumGE1500" INTEGER,               |
|       |           |           |          |             	"PctGE1500" FLOAT              |
|       |           |           |          |            )             |
+-------+-----------+-----------+----------+--------------------------+

In [81]:
%%sql

SELECT * 
FROM schools

Running query in 'sqlite:///data/cdeschools.sqlite'

+----------------+----------+------------+------------+---------+------------------------------------+-----------------------------------------------+----------------------------------+-------------------------------+-------------+------------+-------+----------------------------------+-------------------------------+-------------+------------+-----------+----------------+------+---------------------------------------------+------------+------------+---------+------------+-----------------+-----+----------------------------------+------+-----------------------------+-----------+-------------------------+----------+-----------------------------+-----------+----------+---------+--------+-----------+------------+-----------+------------+---------------------------------------------------+-----------+-----------+-----------+-----------+-----------+-----------+------------+
|    CDSCode     | NCESDist | NCESSchool | StatusType |  County |              District              |                     School                    |              Street              |           StreetAbr           |     City    |    Zip     | State |            MailStreet            |           MailStrAbr          |   MailCity  |  MailZip   | MailState |     Phone      | Ext  |                   Website                   |  OpenDate  | ClosedDate | Charter | CharterNum |   FundingType   | DOC |             DOCType              | SOC  |           SOCType           | EdOpsCode |        EdOpsName        | EILCode  |           EILName           | GSoffered | GSserved | Virtual | Magnet |  Latitude | Longitude  | AdmFName1 | AdmLName1  |                     AdmEmail1                     | AdmFName2 | AdmLName2 | AdmEmail2 | AdmFName3 | AdmLName3 | AdmEmail3 | LastUpdate |
+----------------+----------+------------+------------+---------+------------------------------------+-----------------------------------------------+----------------------------------+-------------------------------+-------------+------------+-------+----------------------------------+-------------------------------+-------------+------------+-----------+----------------+------+---------------------------------------------+------------+------------+---------+------------+-----------------+-----+----------------------------------+------+-----------------------------+-----------+-------------------------+----------+-----------------------------+-----------+----------+---------+--------+-----------+------------+-----------+------------+---------------------------------------------------+-----------+-----------+-----------+-----------+-----------+-----------+------------+
| 01100170000000 | 0691051  |    None    |   Active   | Alameda | Alameda County Office of Education |                      None                     |      313 West Winton Avenue      |      313 West Winton Ave.     |   Hayward   | 94544-1136 |   CA  |      313 West Winton Avenue      |      313 West Winton Ave.     |   Hayward   | 94544-1136 |     CA    | (510) 887-0152 | None |                 www.acoe.org                |    None    |    None    |   None  |    None    |       None      |  00 | County Office of Education (COE) | None |             None            |    None   |           None          |   None   |             None            |    None   |   None   |   None  |  None  | 37.658212 | -122.09713 |  L Karen  |   Monroe   |                 lkmonroe@acoe.org                 |    None   |    None   |    None   |    None   |    None   |    None   | 2015-06-23 |
| 01100170109835 | 0691051  |   10546    |   Closed   | Alameda | Alameda County Office of Education |              FAME Public Charter              | 39899 Balentine Drive, Suite 335 | 39899 Balentine Dr., Ste. 335 |    Newark   | 94560-5359 |   CA  | 39899 Balentine Drive, Suite 335 | 39899 Balentine Dr., Ste. 335 |    Newark   | 94560-5359 |     CA    |      None      | None |                     None                    | 2005-08-29 | 2015-07-31 |    1    |    0728    | Directly funded |  00 | County Office of Education (COE) |  65  |    K-12 Schools (Public)    |    TRAD   |       Traditional       | ELEMHIGH | Elementary-High Combination |    K-12   |   K-12   |    P    |   0    | 37.521436 | -121.99391 |    None   |    None    |                        None                       |    None   |    None   |    None   |    None   |    None   |    None   | 2015-09-01 |
| 01100170112607 | 0691051  |   10947    |   Active   | Alameda | Alameda County Office of Education |     Envision Academy for Arts & Technology    |       1515 Webster Street        |        1515 Webster St.       |   Oakland   | 94612-3355 |   CA  |       1515 Webster Street        |        1515 Webster St.       |   Oakland   |   94612    |     CA    | (510) 596-8901 | None |           www.envisionacademy.org/          | 2006-08-28 |    None    |    1    |    0811    | Directly funded |  00 | County Office of Education (COE) |  66  |    High Schools (Public)    |    TRAD   |       Traditional       |    HS    |         High School         |    9-12   |   9-12   |    N    |   0    |  37.80452 | -122.26815 |   Laura   |   Robell   |             laura@envisionacademy.org             |    None   |    None   |    None   |    None   |    None   |    None   | 2015-06-18 |
| 01100170118489 | 0691051  |   12283    |   Closed   | Alameda | Alameda County Office of Education | Aspire California College Preparatory Academy |      2125 Jefferson Avenue       |      2125 Jefferson Ave.      |   Berkeley  | 94703-1414 |   CA  |   1001 22nd Avenue, Suite 100    |    1001 22nd Ave., Ste. 100   |   Oakland   |   94606    |     CA    |      None      | None |         www.aspirepublicschools.org         | 2008-08-21 | 2015-06-30 |    1    |    1049    | Directly funded |  00 | County Office of Education (COE) |  66  |    High Schools (Public)    |    TRAD   |       Traditional       |    HS    |         High School         |    9-12   |   9-12   |    N    |   0    | 37.868991 | -122.27844 |    None   |    None    |                        None                       |    None   |    None   |    None   |    None   |    None   |    None   | 2015-07-01 |
| 01100170123968 | 0691051  |   12844    |   Active   | Alameda | Alameda County Office of Education |    Community School for Creative Education    |   2111 International Boulevard   |    2111 International Blvd.   |   Oakland   | 94606-4903 |   CA  |   2111 International Boulevard   |    2111 International Blvd.   |   Oakland   | 94606-4903 |     CA    | (510) 686-4131 | None | www.communityschoolforcreativeeducation.org | 2011-08-22 |    None    |    1    |    1284    | Directly funded |  00 | County Office of Education (COE) |  60  | Elementary Schools (Public) |    TRAD   |       Traditional       |   ELEM   |          Elementary         |    K-8    |   K-7    |    N    |   0    | 37.784648 | -122.23863 |  Clifford |  Thompson  | cliffordt@communityschoolforcreativeeducation.org |    None   |    None   |    None   |    None   |    None   |    None   | 2016-07-18 |
| 01100170124172 | 0691051  |   12901    |   Active   | Alameda | Alameda County Office of Education |                Yu Ming Charter                |       1086 Alcatraz Avenue       |       1086 Alcatraz Ave.      |   Oakland   | 94608-1265 |   CA  |       1086 Alcatraz Avenue       |       1086 Alcatraz Ave.      |   Oakland   | 94608-1265 |     CA    | (510) 452-2063 | None |             www.yumingschool.org            | 2011-08-09 |    None    |    1    |    1296    | Directly funded |  00 | County Office of Education (COE) |  60  | Elementary Schools (Public) |    TRAD   |       Traditional       |   ELEM   |          Elementary         |    K-8    |   K-5    |    N    |   0    | 37.847375 | -122.28356 |    Sue    |    Park    |               spark@yumingschool.org              |    None   |    None   |    None   |    None   |    None   |    None   | 2016-05-10 |
| 01100170125567 | 0691051  |   13008    |   Active   | Alameda | Alameda County Office of Education |            Urban Montessori Charter           |        5328 Brann Street         |         5328 Brann St.        |   Oakland   | 94619-3312 |   CA  |        5328 Brann Street         |         5328 Brann St.        |   Oakland   | 94619-3312 |     CA    | (510) 842-1181 | None |           www.urbanmontessori.org           | 2012-08-27 |    None    |    1    |    1383    | Directly funded |  00 | County Office of Education (COE) |  60  | Elementary Schools (Public) |    TRAD   |       Traditional       |   ELEM   |          Elementary         |    K-8    |   K-5    |    N    |   0    | 37.778352 | -122.1895  |   David   |  Castillo  |             davidc@urbanmontessori.org            |    None   |    None   |    None   |    None   |    None   |    None   | 2015-10-09 |
| 01100170130302 | 0691051  |    None    |   Closed   | Alameda | Alameda County Office of Education |         Technical, Agricultural & Nat.        |           597 C Street           |           597 C St.           |   Hayward   |   94541    |   CA  |           597 C Street           |           597 C St.           |   Hayward   |   94541    |     CA    |      None      | None |                     None                    | 1980-07-01 | 1989-06-30 |    0    |    None    |       None      |  00 | County Office of Education (COE) |  10  |       County Community      |    None   |           None          |    UG    |           Ungraded          |    None   |   None   |   None  |  None  |    None   |    None    |    None   |    None    |                        None                       |    None   |    None   |    None   |    None   |    None   |    None   | 1999-06-24 |
| 01100170130401 | 0691051  |   09264    |   Active   | Alameda | Alameda County Office of Education |       Alameda County Juvenile Hall/Court      |       2500 Fairmont Avenue       |       2500 Fairmont Ave.      | San Leandro | 94578-1005 |   CA  |       2500 Fairmont Avenue       |       2500 Fairmont Ave.      | San Leandro | 94578-1005 |     CA    | (510) 667-7435 | None |                 www.acoe.org                | 1980-07-01 |    None    |    0    |    None    |       None      |  00 | County Office of Education (COE) |  14  |    Juvenile Court Schools   |    JUV    |  Juvenile Court School  |    HS    |         High School         |    K-12   |   8-12   |    N    |   0    | 37.712878 | -122.11173 |  Michael  | Hermosillo |                mhermosillo@acoe.org               |    None   |    None   |    None   |    None   |    None   |    None   | 2016-05-10 |
| 01100170130419 | 0691051  |   06830    |   Active   | Alameda | Alameda County Office of Education |            Alameda County Community           |      313 West Winton Avenue      |      313 West Winton Ave.     |   Hayward   | 94544-1136 |   CA  |      313 West Winton Avenue      |      313 West Winton Ave.     |   Hayward   | 94544-1136 |     CA    | (510) 670-4590 | None |                 www.acoe.org                | 1980-07-01 |    None    |    0    |    None    |       None      |  00 | County Office of Education (COE) |  10  |       County Community      |    COMM   | County Community School |    HS    |         High School         |    K-12   |   7-12   |    P    |   0    | 37.658212 | -122.09713 |  Carolyn  |   Hobbs    |                  chobbs@acoe.org                  |    None   |    None   |    None   |    None   |    None   |    None   | 2016-10-06 |
+----------------+----------+------------+------------+---------+------------------------------------+-----------------------------------------------+----------------------------------+-------------------------------+-------------+------------+-------+----------------------------------+-------------------------------+-------------+------------+-----------+----------------+------+---------------------------------------------+------------+------------+---------+------------+-----------------+-----+----------------------------------+------+-----------------------------+-----------+-------------------------+----------+-----------------------------+-----------+----------+---------+--------+-----------+------------+-----------+------------+---------------------------------------------------+-----------+-----------+-----------+-----------+-----------+-----------+------------+
Truncated to displaylimit of 10.

In [80]:
%%sql

SELECT * 
FROM satscores

Running query in 'sqlite:///data/cdeschools.sqlite'

+----------------+-------+-----------------------------------------------+------------------------------------+---------+----------+------------+------------+------------+-------------+-----------+-----------+
|      cds       | rtype |                     sname                     |               dname                |  cname  | enroll12 | NumTstTakr | AvgScrRead | AvgScrMath | AvgScrWrite | NumGE1500 | PctGE1500 |
+----------------+-------+-----------------------------------------------+------------------------------------+---------+----------+------------+------------+------------+-------------+-----------+-----------+
| 00000000000000 |   X   |                      None                     |                None                |   None  |  496901  |   210706   |    489     |    500     |     484     |   93334   |    44.3   |
| 01000000000000 |   C   |                      None                     |                None                | Alameda |  16978   |    8855    |    516     |    536     |     517     |    4900   |   55.34   |
| 01100170000000 |   D   |                      None                     | Alameda County Office of Education | Alameda |   398    |     88     |    418     |    418     |     417     |     14    |   15.91   |
| 01100170109835 |   S   |              FAME Public Charter              | Alameda County Office of Education | Alameda |    62    |     17     |    503     |    546     |     505     |     9     |   52.94   |
| 01100170112607 |   S   |     Envision Academy for Arts & Technology    | Alameda County Office of Education | Alameda |    75    |     71     |    397     |    387     |     395     |     5     |    7.04   |
| 01100170118489 |   S   | Aspire California College Preparatory Academy | Alameda County Office of Education | Alameda |    61    |     0      |    None    |    None    |     None    |    None   |    None   |
| 01611190000000 |   D   |                      None                     |          Alameda Unified           | Alameda |   922    |    544     |    521     |    546     |     519     |    333    |   61.21   |
| 01611190106401 |   S   |    Alameda Science and Technology Institute   |          Alameda Unified           | Alameda |    36    |     36     |    562     |    590     |     555     |     29    |   80.56   |
| 01611190119222 |   S   |         Nea Community Learning Center         |          Alameda Unified           | Alameda |    12    |     6      |    None    |    None    |     None    |    None   |    None   |
| 01611190130229 |   S   |                  Alameda High                 |          Alameda Unified           | Alameda |   465    |    325     |    543     |    573     |     543     |    229    |   70.46   |
+----------------+-------+-----------------------------------------------+------------------------------------+---------+----------+------------+------------+------------+-------------+-----------+-----------+
Truncated to displaylimit of 10.

In [98]:
%%sql

SELECT *
FROM satscores
WHERE rtype = "C"

Running query in 'sqlite:///data/cdeschools.sqlite'

+----------------+-------+-------+-------+--------------+----------+------------+------------+------------+-------------+-----------+-----------+
|      cds       | rtype | sname | dname |    cname     | enroll12 | NumTstTakr | AvgScrRead | AvgScrMath | AvgScrWrite | NumGE1500 | PctGE1500 |
+----------------+-------+-------+-------+--------------+----------+------------+------------+------------+-------------+-----------+-----------+
| 01000000000000 |   C   |  None |  None |   Alameda    |  16978   |    8855    |    516     |    536     |     517     |    4900   |   55.34   |
| 03000000000000 |   C   |  None |  None |    Amador    |   333    |     97     |    525     |    514     |     503     |     60    |   61.86   |
| 04000000000000 |   C   |  None |  None |    Butte     |   2418   |    636     |    525     |    530     |     503     |    376    |   59.12   |
| 05000000000000 |   C   |  None |  None |  Calaveras   |   534    |    125     |    532     |    524     |     513     |     78    |    62.4   |
| 06000000000000 |   C   |  None |  None |    Colusa    |   319    |    104     |    468     |    466     |     454     |     33    |   31.73   |
| 07000000000000 |   C   |  None |  None | Contra Costa |  13673   |    7027    |    510     |    518     |     508     |    3717   |    52.9   |
| 08000000000000 |   C   |  None |  None |  Del Norte   |   400    |     81     |    481     |    508     |     469     |     38    |   46.91   |
| 09000000000000 |   C   |  None |  None |  El Dorado   |   2245   |    938     |    537     |    549     |     525     |    628    |   66.95   |
| 10000000000000 |   C   |  None |  None |    Fresno    |  15003   |    5907    |    452     |    456     |     446     |    1710   |   28.95   |
| 11000000000000 |   C   |  None |  None |    Glenn     |   529    |    107     |    473     |    475     |     469     |     37    |   34.58   |
+----------------+-------+-------+-------+--------------+----------+------------+------------+------------+-------------+-----------+-----------+
Truncated to displaylimit of 10.

In [97]:
%%sql

SELECT cname, SUM(NumTstTakr)
FROM satscores
WHERE rtype = "S"
GROUP BY cname

Running query in 'sqlite:///data/cdeschools.sqlite'

+--------------+-----------------+
|    cname     | SUM(NumTstTakr) |
+--------------+-----------------+
|   Alameda    |       8855      |
|    Amador    |        97       |
|    Butte     |       636       |
|  Calaveras   |       125       |
|    Colusa    |       104       |
| Contra Costa |       7027      |
|  Del Norte   |        81       |
|  El Dorado   |       938       |
|    Fresno    |       5907      |
|    Glenn     |       107       |
+--------------+-----------------+
Truncated to displaylimit of 10.

In [89]:
%%sql

SELECT *
FROM frpm 
LIMIT 100

Running query in 'sqlite:///data/cdeschools.sqlite'

+---------------+-------------+---------------+-------------+-------------+------------------------------------+-----------------------------------------------+----------------------------------+-----------------------------+-------------------------+-----------------------+----------------------+-----------------------+----------------------+-----+-----------+------------+-------------------+------------------------+----------------------------------+-------------------+----------------------------------+------------------------+-----------------------------+---------------------------------------+------------------------+---------------------------------------+---------------------------------------------+
| Academic Year | County Code | District Code | School Code | County Name |           District Name            |                  School Name                  |          District Type           |         School Type         | Educational Option Type | NSLP Provision Status | Charter School (Y/N) | Charter School Number | Charter Funding Type | IRC | Low Grade | High Grade | Enrollment (K-12) | Free Meal Count (K-12) | Percent (%) Eligible Free (K-12) | FRPM Count (K-12) | Percent (%) Eligible FRPM (K-12) | Enrollment (Ages 5-17) | Free Meal Count (Ages 5-17) | Percent (%) Eligible Free (Ages 5-17) | FRPM Count (Ages 5-17) | Percent (%) Eligible FRPM (Ages 5-17) | 2013-14 CALPADS Fall 1 Certification Status |
+---------------+-------------+---------------+-------------+-------------+------------------------------------+-----------------------------------------------+----------------------------------+-----------------------------+-------------------------+-----------------------+----------------------+-----------------------+----------------------+-----+-----------+------------+-------------------+------------------------+----------------------------------+-------------------+----------------------------------+------------------------+-----------------------------+---------------------------------------+------------------------+---------------------------------------+---------------------------------------------+
|   2014-2015   |      01     |     10017     |   0109835   |   Alameda   | Alameda County Office of Education |              FAME Public Charter              | County Office of Education (COE) |    K-12 Schools (Public)    |       Traditional       |          None         |          1           |          0728         |   Directly funded    |  1  |     K     |     12     |       1087.0      |         565.0          |        0.5197792088316467        |       715.0       |        0.6577736890524379        |         1070.0         |            553.0            |           0.516822429906542           |         702.0          |           0.6560747663551402          |                      1                      |
|   2014-2015   |      01     |     10017     |   0112607   |   Alameda   | Alameda County Office of Education |     Envision Academy for Arts & Technology    | County Office of Education (COE) |    High Schools (Public)    |       Traditional       |          None         |          1           |          0811         |   Directly funded    |  1  |     9     |     12     |       395.0       |         186.0          |        0.4708860759493671        |       186.0       |        0.4708860759493671        |         376.0          |            182.0            |          0.48404255319148937          |         182.0          |          0.48404255319148937          |                      1                      |
|   2014-2015   |      01     |     10017     |   0118489   |   Alameda   | Alameda County Office of Education | Aspire California College Preparatory Academy | County Office of Education (COE) |    High Schools (Public)    |       Traditional       |          None         |          1           |          1049         |   Directly funded    |  1  |     9     |     12     |       244.0       |         134.0          |        0.5491803278688525        |       175.0       |        0.7172131147540983        |         230.0          |            128.0            |           0.5565217391304348          |         168.0          |           0.7304347826086957          |                      1                      |
|   2014-2015   |      01     |     10017     |   0123968   |   Alameda   | Alameda County Office of Education |    Community School for Creative Education    | County Office of Education (COE) | Elementary Schools (Public) |       Traditional       | Breakfast Provision 2 |          1           |          1284         |   Directly funded    |  1  |     K     |     8      |       191.0       |         113.0          |        0.5916230366492147        |       139.0       |        0.7277486910994765        |         190.0          |            113.0            |           0.5947368421052631          |         139.0          |           0.7315789473684211          |                      1                      |
|   2014-2015   |      01     |     10017     |   0124172   |   Alameda   | Alameda County Office of Education |                Yu Ming Charter                | County Office of Education (COE) | Elementary Schools (Public) |       Traditional       |          None         |          1           |          1296         |   Directly funded    |  1  |     K     |     8      |       257.0       |          14.0          |       0.054474708171206226       |        21.0       |       0.08171206225680934        |         257.0          |             14.0            |          0.054474708171206226         |          21.0          |          0.08171206225680934          |                      1                      |
|   2014-2015   |      01     |     10017     |   0125567   |   Alameda   | Alameda County Office of Education |            Urban Montessori Charter           | County Office of Education (COE) | Elementary Schools (Public) |       Traditional       |          None         |          1           |          1383         |   Directly funded    |  1  |     K     |     8      |       279.0       |          81.0          |        0.2903225806451613        |       101.0       |       0.36200716845878134        |         273.0          |             78.0            |           0.2857142857142857          |          98.0          |           0.358974358974359           |                      1                      |
|   2014-2015   |      01     |     10017     |   0130401   |   Alameda   | Alameda County Office of Education |       Alameda County Juvenile Hall/Court      | County Office of Education (COE) |    Juvenile Court Schools   |  Juvenile Court School  |          None         |          0           |          None         |         None         |  0  |     K     |     12     |       181.0       |          71.0          |       0.39226519337016574        |        73.0       |       0.40331491712707185        |         160.0          |             66.0            |                 0.4125                |          68.0          |                 0.425                 |                      1                      |
|   2014-2015   |      01     |     10017     |   0130419   |   Alameda   | Alameda County Office of Education |            Alameda County Community           | County Office of Education (COE) |       County Community      | County Community School |          None         |          0           |          None         |         None         |  0  |     K     |     12     |       277.0       |         190.0          |        0.6859205776173285        |       223.0       |        0.8050541516245487        |         221.0          |            145.0            |           0.6561085972850679          |         172.0          |           0.7782805429864253          |                      1                      |
|   2014-2015   |      01     |     10017     |   6001788   |   Alameda   | Alameda County Office of Education |                  Cox Academy                  | County Office of Education (COE) | Elementary Schools (Public) |       Traditional       |          None         |          1           |          0740         |   Directly funded    |  1  |     K     |     5      |       597.0       |         493.0          |        0.8257956448911222        |       557.0       |        0.932998324958124         |         586.0          |            483.0            |           0.8242320819112628          |         546.0          |           0.931740614334471           |                      1                      |
|   2014-2015   |      01     |     10017     |   6002000   |   Alameda   | Alameda County Office of Education |             Lazear Charter Academy            | County Office of Education (COE) | Elementary Schools (Public) |       Traditional       |      Provision 2      |          1           |          1464         |   Directly funded    |  1  |     K     |     8      |       437.0       |         336.0          |        0.7688787185354691        |       400.0       |        0.9153318077803204        |         437.0          |            336.0            |           0.7688787185354691          |         400.0          |           0.9153318077803204          |                      1                      |
+---------------+-------------+---------------+-------------+-------------+------------------------------------+-----------------------------------------------+----------------------------------+-----------------------------+-------------------------+-----------------------+----------------------+-----------------------+----------------------+-----+-----------+------------+-------------------+------------------------+----------------------------------+-------------------+----------------------------------+------------------------+-----------------------------+---------------------------------------+------------------------+---------------------------------------+---------------------------------------------+
Truncated to displaylimit of 10.

In [79]:
%%sql

SELECT "County Code", "District Code", "School Code", "County Code" || "District Code" || "School Code" AS CDSCode 
FROM frpm
WHERE "County Code" IS NOT NULL
LIMIT 100;

Running query in 'sqlite:///data/cdeschools.sqlite'

+-------------+---------------+-------------+----------------+
| County Code | District Code | School Code |    CDSCode     |
+-------------+---------------+-------------+----------------+
|      01     |     10017     |   0109835   | 01100170109835 |
|      01     |     10017     |   0112607   | 01100170112607 |
|      01     |     10017     |   0118489   | 01100170118489 |
|      01     |     10017     |   0123968   | 01100170123968 |
|      01     |     10017     |   0124172   | 01100170124172 |
|      01     |     10017     |   0125567   | 01100170125567 |
|      01     |     10017     |   0130401   | 01100170130401 |
|      01     |     10017     |   0130419   | 01100170130419 |
|      01     |     10017     |   6001788   | 01100176001788 |
|      01     |     10017     |   6002000   | 01100176002000 |
+-------------+---------------+-------------+----------------+
Truncated to displaylimit of 10.