In [1]:
import pandas as pd
import requests
from urllib.parse import urlencode

# APIs

Application Programming Interfaces, commonly known as APIs, are tools that allow different softwares to communicate with each other. Organizations may choose to maintain APIs to provide easy access to their data, in the interest of research. As economists, we may be interested in using these APIs to access their data for further research. A famous example of such an API is the [Fred API](https://fred.stlouisfed.org/docs/api/fred/), which is maintained by the Federal Reserve Bank of St. Louis and allows us to easily retrieve Federal Reserve Data.

Ultimately, there are thousands of APIs and they all have different ways you can interact with them. It is impossible to learn how to interact with every API. Instead, the key skill you should focus on is learning how to read the documentation of APIs. Once you can successfully read and understand an API's documentation, you will have no trouble working with that API. This chapter will use the Fred API as an example for how to read an APIs documentation. Let us get started. We will be referencing the relevant [documentation](https://fred.stlouisfed.org/docs/api/fred/series_observations.html) a lot during this chapter, we recommend you also keep it open for easy reference.

## Requests

As you can see at the top of the [documentation](https://fred.stlouisfed.org/docs/api/fred/series_observations.html), in order to access the Fred API, we must 'request' URLs. Python's [`requests`](https://requests.readthedocs.io/en/latest/) library is incredibly popular for making such requests. A very simple example of a request is shown below.

In [37]:
requests.get('https://www.google.com')

As you can see, this request returned a response with a status code of 200. You can read more about the various status codes [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status). In general, a status code in the 200s represents a success and a status code in the 400s or 500s represents a failure.

In order to make a successful request, you need an API key. We talk more about them in the next section.

## Parameters

This section will go through and describe all the parameters in the [documentation](https://fred.stlouisfed.org/docs/api/fred/series_observations.html).

### API Key

In order to make a request, you need an API key. An API key is a unique identifier used to connect to, or perform, an API call. It shows that you are using the software legitimately and are not violating the platforms terms and conditions. For the FRED, you can easily request an API key [here](https://fred.stlouisfed.org/docs/api/api_key.html).

If someone else obtains your API key, they can effectively pretend to be you. They can misuse your API key, using it to violate the platforms terms and conditions, and get you banned or worse. Therefore, it is good practice to keep your API keys secret to yourself. In keeping with this practice, we shall not share the API key we used for this notebook, and you must request your own API key if you wish to replicate the results.

In [38]:
api_key = "..." # We have deliberately omitted our API key.

### File Type

This parameter indicates which type of file to return as the output. For the Fred API, it is often easiest to work with [JSON files](https://www.json.org/json-en.html) as the output. JSON files are an example of [semi-structured data](https://www.teradata.com/glossary/what-is-semi-structured-data#:~:text=Semi%2Dstructured%20data%20refers%20to,not%20have%20a%20fixed%20schema.), an alternative to structured csv's we have been using so far. We will not delve into json's too much for now, other than noting that `pandas` has an easy to use [`.read_json()`](https://pandas.pydata.org/docs/reference/api/pandas.read_json.html) method. The API notes that if we choose to return a `txt` or `xls` file, an application/zip file will be returned to compress the data. So, it is easiest to return a `json` file and directly read it in.

### Series ID

In [ ]:
def fetch(base_url, endpoint, params, url_only=False):
    # forms API request
    url_params = urlencode(params)
    url = f"{base_url}{endpoint}?{url_params}"
    
    # For testing purposes only, do not delete
    if url_only:
        return url
    
    # fires off the request
    res = requests.get(url)
    
    # checks if the request encounters an error
    if res.status_code not in range(200, 299):
        raise Exception(f"Fetch request failed (Error: {res.status_code})")
    
    # return the content of the response
    return res.json()

In [40]:
res = requests.get(f'https://api.stlouisfed.org/fred/series/observations?series_id=GNPCA&realtime_start=1776-07-04&realtime_end=9999-12-31&api_key={api_key}&file_type=json')
res.json()['observations'][:7]

[{'realtime_start': '1958-12-21',
  'realtime_end': '1965-08-18',
  'date': '1929-01-01',
  'value': '181.8'},
 {'realtime_start': '1965-08-19',
  'realtime_end': '1976-01-15',
  'date': '1929-01-01',
  'value': '203.6'},
 {'realtime_start': '1976-01-16',
  'realtime_end': '1980-12-22',
  'date': '1929-01-01',
  'value': '314.7'},
 {'realtime_start': '1980-12-23',
  'realtime_end': '1985-12-19',
  'date': '1929-01-01',
  'value': '315.7'},
 {'realtime_start': '1985-12-20',
  'realtime_end': '1991-12-03',
  'date': '1929-01-01',
  'value': '709.6'},
 {'realtime_start': '1991-12-04',
  'realtime_end': '1992-12-21',
  'date': '1929-01-01',
  'value': '.'},
 {'realtime_start': '1992-12-22',
  'realtime_end': '1996-01-18',
  'date': '1929-01-01',
  'value': '827.4'}]

In [44]:
base_url = "https://api.stlouisfed.org"
endpoint = "/fred/series/observations"
params_UNRATE = {"series_id": "PPAAUS00000A156NCEN", 
                 "observation_start": "1989-01-01", 
                 "observation_end": "2022-10-01",
                 "frequency": "a", # quarterly
                 "units": "pch",
                 "api_key": api_key, 
                 "file_type": "json"
                }

# fetch data
res_json_UNRATE = fetch(base_url, endpoint, params_UNRATE)

# process json data and store it as a dataframe
unemployment = pd.DataFrame(res_json_UNRATE["observations"])[["date", "value"]]

https://api.stlouisfed.org/fred/series/observations?series_id=PPAAUS00000A156NCEN&observation_start=1989-01-01&observation_end=2022-10-01&frequency=a&units=pch&api_key=dab081fe5e028d7fc65114e0c7f2cf6b&file_type=json

In [20]:
unemployment

          date     value
0   1989-01-01         .
1   1990-01-01         .
2   1991-01-01         .
3   1992-01-01         .
4   1993-01-01         .
5   1994-01-01         .
6   1995-01-01         .
7   1996-01-01  -0.72464
8   1997-01-01  -2.91971
9   1998-01-01  -4.51128
10  1999-01-01  -6.29921
11  2000-01-01  -5.04202
12  2001-01-01   3.53982
13  2002-01-01   3.41880
14  2003-01-01   3.30579
15  2004-01-01   1.60000
16  2005-01-01   4.72441
17  2006-01-01   0.00000
18  2007-01-01  -2.25564
19  2008-01-01   1.53846
20  2009-01-01   8.33333
21  2010-01-01   6.99301
22  2011-01-01   3.92157
23  2012-01-01   0.00000
24  2013-01-01  -0.62893
25  2014-01-01  -1.89873
26  2015-01-01  -5.16129
27  2016-01-01  -4.76190
28  2017-01-01  -4.28571
29  2018-01-01  -2.23881
30  2019-01-01  -6.10687
31  2020-01-01  -3.25203
32  2021-01-01   7.56303
33  2022-01-01  -1.56250