In [292]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import regex as re
import statsmodels.api as sm
import statsmodels.formula.api as smf

## PSET 1

In [264]:
nba = pd.read_csv("nba.csv")
nba#.head()

,married,wage,exper,age,coll,games,minutes,guard,forward,center,points,rebounds,assists,draft,allstar,avgmin,black,children
0,1,1002.5,4,27,4,77,2867,1,0,0,16,4,5,19.0,0,37.23,1,0
1,1,2030.0,5,28,4,78,2789,1,0,0,13,3,9,28.0,0,35.76,1,1
2,0,650.0,1,25,4,74,1149,0,0,1,6,3,0,19.0,0,15.53,1,0
3,0,2030.0,5,28,4,47,1178,0,1,0,7,5,2,1.0,0,25.06,1,0
4,0,755.0,3,24,4,82,2096,1,0,0,11,4,3,24.0,0,25.56,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,1,3210.0,7,29,4,79,2638,1,0,0,20,3,3,11.0,1,33.39,1,0
265,1,715.0,5,31,4,75,1084,0,1,0,5,3,1,54.0,0,14.45,1,1
266,1,600.0,11,33,3,67,1197,1,0,0,10,2,2,4.0,0,17.87,1,1
267,0,2500.0,6,28,4,78,2113,0,0,1,16,6,2,2.0,0,27.09,0,0
268,0,2000.0,12,33,3,30,282,0,1,0,2,3,1,5.0,0,9.40,1,0

In [265]:
def ttest(string, df_name = 'df'):
    if "ttest" in string and "by(" in string:
        eq_var = True
        nan_pol = 'propagate'
        
        string = string.replace("ttest ", "")
        catvar_split = string.split("(")
        catvar = catvar_split[-1].split(")")[0]
        if catvar_split[-1].split(")")[1].strip() == 'unequal':
            eq_var = False
        catvar_split[0] = "(".join(catvar_split[:-1])
        var = catvar_split[0].split(",")[0]
        if 'if !missing' in var:
            var = var.split(" ")[0]
            nan_pol = 'omit'
        
        print(f"catvar_vals = np.unique({df_name}['{catvar}'])")
        print(f"if len(catvar_vals) != 2:")
        print(f"    raise ValueError(f'The categorical variable ({catvar}) doesn\\'t have 2 groups')")
        
        print(f"df_1 = {df_name}[{df_name}['{catvar}'] == catvar_vals[0]]")
        print(f"df_2 = {df_name}[{df_name}['{catvar}'] == catvar_vals[1]]")
        
        print(f"ttest = stats.ttest_ind(df_1['{var}'], df_2['{var}'], equal_var={eq_var}, nan_policy='{nan_pol}')")
        
        print(f"t_stat = ttest.statistic")
        print(f"p_val = ttest.pvalue")
        print("print(f'T-stat: {t_stat}, P-value: {p_val}')")

In [266]:
ttest("ttest wage, by(guard)","nba")

catvar_vals = np.unique(nba['guard'])
if len(catvar_vals) != 2:
    raise ValueError(f'The categorical variable (guard) doesn\'t have 2 groups')
df_1 = nba[nba['guard'] == catvar_vals[0]]
df_2 = nba[nba['guard'] == catvar_vals[1]]
ttest = stats.ttest_ind(df_1['wage'], df_2['wage'], equal_var=True, nan_policy='propagate')
t_stat = ttest.statistic
p_val = ttest.pvalue
print(f'T-stat: {t_stat}, P-value: {p_val}')

In [267]:
ttest("ttest wage, by(guard) unequal", "nba")

catvar_vals = np.unique(nba['guard'])
if len(catvar_vals) != 2:
    raise ValueError(f'The categorical variable (guard) doesn\'t have 2 groups')
df_1 = nba[nba['guard'] == catvar_vals[0]]
df_2 = nba[nba['guard'] == catvar_vals[1]]
ttest = stats.ttest_ind(df_1['wage'], df_2['wage'], equal_var=False, nan_policy='propagate')
t_stat = ttest.statistic
p_val = ttest.pvalue
print(f'T-stat: {t_stat}, P-value: {p_val}')

In [268]:
# Q1c, 1e

def filter_gen(df_name, string):
    if string.startswith("gen"):
        string = string.replace("gen ", "")
        str_split = string.split("=",1)
        str_split = [x.strip() for x in str_split]
        new_col_name = str_split[0]
        if str_split[1].count("=")>0:
            if str_split[1].startswith("("):
                str_split[1] = str_split[1][1:-1]
            filter_split = str_split[1].split(" ", 1)
            new_string = f"{df_name}['{new_col_name}'] = {df_name}['{filter_split[0]}'] {filter_split[1]}"
            new_string_split = new_string.split(" = ", 1)
            print(new_string)
        else:
            words_lst = re.findall(r'\w\w+',str_split[1])
            for word in words_lst:
                if word not in ['log']:
                    str_split[1] = str_split[1].replace(word, f"{df_name}['{word}']")
                else:
                    str_split[1] = str_split[1].replace(word, f"np.{word}")
            new_string = f"{df_name}['{new_col_name}'] = {str_split[1]}"
            print(new_string)

In [269]:
filter_gen("nba","gen degree = (coll >= 4)")

nba['degree'] = nba['coll'] >= 4

In [270]:
filter_gen("nba","gen productivity = points/(minutes/games)")

nba['productivity'] = nba['points']/(nba['minutes']/nba['games'])

In [271]:
# Q1g

def corr(df_name, string):
    if string.startswith("pwcorr"):
        string = string.replace("pwcorr ", "")
        words_lst = re.findall(r'[a-zA-Z]+',string)
        print(f"{df_name}[{words_lst}].corr()")

In [272]:
corr("nba","pwcorr points assists rebounds")

nba[['points', 'assists', 'rebounds']].corr()

In [273]:
filter_gen("nba","gen index = points + rebounds + 2*assists")

nba['index'] = nba['points'] + nba['rebounds'] + 2*nba['assists']

In [274]:
filter_gen("nba","gen payoff = index/wage")

nba['payoff'] = nba['index']/nba['wage']

In [400]:
pollution = pd.read_csv("pollution.csv")
pollution.head()

,year,countryname,countrycode,gdp,gdppc,co2,co2pc,population,oecd
0,2010,Zambia,ZMB,9.799629e+09,741.4421,2427.554,0.183669,13216985,0.0
1,2010,French Polynesia,PYF,NaN,NaN,883.747,3.296764,268065,0.0
2,2010,Monaco,MCO,NaN,NaN,NaN,NaN,36845,0.0
3,2010,Ukraine,UKR,9.057726e+10,1974.6212,304804.720,6.644867,45870700,0.0
4,2010,"Venezuela, RB",VEN,1.750000e+11,6010.0270,201747.340,6.946437,29043283,0.0

In [276]:
ttest("ttest co2pc if !missing(countrycode), by(oecd) unequal", "pollution")

catvar_vals = np.unique(pollution['oecd'])
if len(catvar_vals) != 2:
    raise ValueError(f'The categorical variable (oecd) doesn\'t have 2 groups')
df_1 = pollution[pollution['oecd'] == catvar_vals[0]]
df_2 = pollution[pollution['oecd'] == catvar_vals[1]]
ttest = stats.ttest_ind(df_1['co2pc'], df_2['co2pc'], equal_var=False, nan_policy='omit')
t_stat = ttest.statistic
p_val = ttest.pvalue
print(f'T-stat: {t_stat}, P-value: {p_val}')

In [277]:
filter_gen("pollution","gen log_gdp = log(gdp)")
filter_gen("pollution","gen log_co2 = log(co2)")

pollution['log_gdp'] = np.log(pollution['gdp'])
pollution['log_co2'] = np.log(pollution['co2'])

In [401]:
pollution['log_gdp'] = np.log(pollution['gdp'])
pollution['log_co2'] = np.log(pollution['co2'])

In [279]:
def scatter(string, df_name = 'df'):
    if string.startswith("twoway"):
        string = string.replace("twoway (","")[:-2]
        command = string.split(",")[0].strip()
        customizations = string.split(",")[1].strip()
        df = eval(df_name)
        if command.startswith("scatter"):
            var_1 = command.split(" ")[1]
            var_2 = command.split(" ")[2]
            print(f"plt.scatter({df_name}['{var_1}'], {df_name}['{var_2}']);")
        customizations_split = customizations.split(")")
        for word in customizations_split:
            word = word.strip()
            if word.startswith("xtitle"):
                xtitle = word.split("(")[1]
                if xtitle.startswith("'"):
                    xtitle = xtitle[1:]
                if xtitle.endswith("'"):
                    xtitle = xtitle[:-1]
                print(f"plt.xlabel('{xtitle}');")
            if word.startswith("ytitle"):
                ytitle = word.split("(")[1]
                if ytitle.startswith("'"):
                    ytitle = ytitle[1:]
                if ytitle.endswith("'"):
                    ytitle = ytitle[:-1]
                print(f"plt.ylabel('{ytitle}');")

In [280]:
scatter("twoway (scatter log_gdp log_co2, xtitle('log gdp') ytitle('log co2'))","pollution")

plt.scatter(pollution['log_gdp'], pollution['log_co2']);
plt.xlabel('log gdp');
plt.ylabel('log co2');

In [281]:
v = np.random.random_sample(100)
x = 10 + 20 * v
u = np.random.normal(0, 100, 100)
y = 30 + 5 * x + u
df_all = pd.DataFrame(data={'v':v, 'x':x,'u':u,'y':y})
df_all.head()

          v          x           u           y
0  0.650838  23.016757  -20.449512  124.634271
1  0.939047  28.780941  173.290272  347.194975
2  0.859112  27.182241   36.786572  202.697775
3  0.864375  27.287491 -127.745515   38.691941
4  0.404738  18.094758  172.817931  293.291723

In [282]:
scatter(df_name="df_all", string='twoway (scatter x y, xtitle(x) ytitle(y))')

plt.scatter(df_all['x'], df_all['y']);
plt.xlabel('x');
plt.ylabel('y');

In [283]:
def describe(string, df_name='df'):
    if string.startswith('describe'):
        print(f'{df_name}.describe()')

In [284]:
la = pd.read_csv("la.csv")
la.head()

   hispanic  citizen  black   exp       wage  female  education
0         1        1      0  14.0   5.288462       1          9
1         0        1      0  14.7   8.461538       1         13
2         0        1      0  14.7  10.416667       1         13
3         0        1      0  14.0  21.634615       1         14
4         1        0      0  12.0   3.365385       1         12

In [285]:
describe("describe","la")

la.describe()

In [286]:
def hist(string, df_name='df'):
    if string.startswith('histogram'):
        string = string.replace('histogram ','')
        str_split = string.split(", ")
        num_bins_change = False
        num_bins = 0
        for word in str_split:
            if word.startswith("bin"):
                num_bins_change = True
                num_bins = int(word.split("(")[1].split(")")[0])
        if num_bins_change == False:
            print(f"{df_name}.hist(column='{str_split[0]}');")
        else:
            print(f"{df_name}.hist(column='{str_split[0]}',bins={num_bins});")

In [287]:
hist("histogram wage, bin(80)","la");

la.hist(column='wage',bins=80);

## PSET 2

In [289]:
v = np.random.random_sample(100)
x = 10 + 20 * v
u = np.random.normal(0, 100, 100)
y = 30 + 5 * x + u

In [553]:
def reg(string, df_name = 'df'):
    string = string[4:]
    first_half, second_half = string, string
    if "," in string:
        first_half = string.split(",")[0]
        second_half = string.split(",")[1]
    y_var = first_half.split(" ")[0]
    x_var = "'" + "', '".join(first_half.split(" ")[1:]) + "'"
    if ' ' not in x_var:
        print(f"{df_name}_no_na = {df_name}[[{x_var},'{y_var}']].dropna()")
        print(f"x_df = {df_name}_no_na[{x_var}]")
    elif "i." in x_var:
        print(f"{df_name}_with_dummies = {df_name}.copy()")
        pollution_with_dummies = pollution.copy()
        df_name = df_name + "_with_dummies"
        print(f"x_var = \"{x_var}\"")
        x_var_new = "'" + "', '".join([i.strip("'") for i in x_var.split(", ") if not i.strip("'").startswith("i.")]) + "'"
        print("x_var_new = \"'\" + \"', '\".join([i.strip(\"'\") for i in x_var.split(\", \") if not i.strip(\"'\").startswith(\"i.\")]) + \"'\"")
        print(f"indicator_list = [m.strip(\"'\") for m in x_var.split('i.')[1:]]")
        print("for indicator in indicator_list:")
        print(f"    dummies = pd.get_dummies({df_name}[indicator])")
        print(f"    dummies = dummies.iloc[:,1:]")
        print(f"    dummies.columns = [str(x) + '_' + str(indicator) for x in dummies.columns]")
        print(f"    {df_name} = pd.concat([{df_name},dummies],axis=1)")
        print("    x_var_new = x_var_new + \", '\" + \"', '\".join(dummies.columns) + \"'\"")
        print("x_var = x_var_new")
        indicator_list = [m.strip("'") for m in x_var.split('i.')[1:]]
        for indicator in indicator_list:
            dummies = pd.get_dummies(pollution_with_dummies[indicator])
            dummies = dummies.iloc[:,1:]
            dummies.columns = [str(x) + '_' + str(indicator) for x in dummies.columns]
            pollution_with_dummies = pd.concat([pollution_with_dummies,dummies],axis=1)
            x_var_new = x_var_new + ", '" + "', '".join(dummies.columns) + "'"
        x_var = x_var_new
        print(f"{df_name}_no_na = {df_name}[[{x_var},'{y_var}']].dropna()")
        print(f"x_df = {df_name}_no_na[[{x_var}]]")
    else:
        print(f"{df_name}_no_na = {df_name}[[{x_var},'{y_var}']].dropna()")
        print(f"x_df = {df_name}_no_na[[{x_var}]]")

    print(f"y_df = {df_name}_no_na['{y_var}']")
    if 'noconstant' in second_half:
        print("model = sm.OLS(y_df, x_df)")
    else:
        print("model = sm.OLS(y_df, sm.add_constant(x_df))")
    print("result = model.fit()")
    print("result.summary()")

In [554]:
reg("reg co2pc gdp co2 i.oecd, noconstant", "pollution")

pollution_with_dummies = pollution.copy()
x_var = "'gdp', 'co2', 'i.oecd'"
x_var_new = "'" + "', '".join([i.strip("'") for i in x_var.split(", ") if not i.strip("'").startswith("i.")]) + "'"
indicator_list = [m.strip("'") for m in x_var.split('i.')[1:]]
for indicator in indicator_list:
    dummies = pd.get_dummies(pollution_with_dummies[indicator])
    dummies = dummies.iloc[:,1:]
    dummies.columns = [str(x) + '_' + str(indicator) for x in dummies.columns]
    pollution_with_dummies = pd.concat([pollution_with_dummies,dummies],axis=1)
    x_var_new = x_var_new + ", '" + "', '".join(dummies.columns) + "'"
x_var = x_var_new
pollution_with_dummies_no_na = pollution_with_dummies[['gdp', 'co2', '1.0_oecd','co2pc']].dropna()
x_df = pollution_with_dummies_no_na[['gdp', 'co2', '1.0_oecd']]
y_df = pollution_with_dummies_no_na['co2pc']
model = sm.OLS(y_df, x_df)
result = model.fit()
result.summary()

In [555]:
pollution_with_dummies = pollution.copy()
x_var = "'gdp', 'co2', 'i.oecd'"
x_var_new = "'" + "', '".join([i.strip("'") for i in x_var.split(", ") if not i.strip("'").startswith("i.")]) + "'"
indicator_list = [m.strip("'") for m in x_var.split('i.')[1:]]
for indicator in indicator_list:
    dummies = pd.get_dummies(pollution_with_dummies[indicator])
    dummies = dummies.iloc[:,1:]
    dummies.columns = [str(x) + '_' + str(indicator) for x in dummies.columns]
    pollution_with_dummies = pd.concat([pollution_with_dummies,dummies],axis=1)
    x_var_new = x_var_new + ", '" + "', '".join(dummies.columns) + "'"
x_var = x_var_new
pollution_with_dummies_no_na = pollution_with_dummies[['gdp', 'co2', '1.0_oecd','co2pc']].dropna()
x_df = pollution_with_dummies_no_na[['gdp', 'co2', '1.0_oecd']]
y_df = pollution_with_dummies_no_na['co2pc']
model = sm.OLS(y_df, x_df)
result = model.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  co2pc   R-squared (uncentered):                   0.266
Model:                            OLS   Adj. R-squared (uncentered):              0.254
Method:                 Least Squares   F-statistic:                              21.55
Date:                Sat, 20 Jan 2024   Prob (F-statistic):                    5.90e-12
Time:                        15:51:33   Log-Likelihood:                         -602.73
No. Observations:                 181   AIC:                                      1211.
Df Residuals:                     178   BIC:                                      1221.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
gdp         8.316e-14    6.9e-13      0.121      0.904   -1.28e-12    1.44e-12
co2         1.482e-06   9.78e-07      1.515      0.132   -4.49e-07    3.41e-06
1.0_oecd       8.3419      1.298      6.426      0.000       5.780      10.904
==============================================================================
Omnibus:                      161.584   Durbin-Watson:                   1.629
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2121.589
Skew:                           3.446   Prob(JB):                         0.00
Kurtosis:                      18.291   Cond. No.                     3.04e+12
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 3.04e+12. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [409]:
pollution_no_na = pollution[['gdp', 'co2','co2pc']].dropna()
x_df = pollution_no_na[['gdp', 'co2']]
y_df = pollution_no_na['co2pc']
model = sm.OLS(y_df, x_df)
result = model.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  co2pc   R-squared (uncentered):                   0.096
Model:                            OLS   Adj. R-squared (uncentered):              0.086
Method:                 Least Squares   F-statistic:                              9.536
Date:                Sat, 20 Jan 2024   Prob (F-statistic):                    0.000116
Time:                        15:19:24   Log-Likelihood:                         -621.62
No. Observations:                 181   AIC:                                      1247.
Df Residuals:                     179   BIC:                                      1254.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
gdp         1.818e-12   7.03e-13      2.586      0.010    4.31e-13     3.2e-12
co2         4.791e-07   1.07e-06      0.448      0.655   -1.63e-06    2.59e-06
==============================================================================
Omnibus:                      138.286   Durbin-Watson:                   1.442
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1265.775
Skew:                           2.907   Prob(JB):                    1.38e-275
Kurtosis:                      14.577   Cond. No.                     2.26e+06
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 2.26e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""